@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Fantasy LCS</h1>
    <p>Run a Fantasy League for LCS with your friends. <a href="https://discord.gg/jYubaQWCET"> Join the discord here.</a></p>
</div>
